[Unit]
Description=byoh-agent service
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=5
[Service]
Type=simple
WorkingDirectory=/usr/bin
EnvironmentFile=/etc/byoh-agent/byoh-agent-flags.env
ExecStart=/usr/bin/byoh-agent $BYOH_AGENT_FLAGS
User=root
Group=root
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
