name: Draft Release

on:
  push:
    # Build and publish artifacts when new tag is created for release
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Build Release Artifacts
        run: IMG="projects.registry.vmware.com/cluster_api_provider_bringyourownhost/cluster-api-byoh-controller:${{ github.ref_name }}" make build-release-artifacts

      - name: Publish Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          draft: true
          generate_release_notes: true
          files: |
            _dist/byoh-hostagent-linux-amd64
            _dist/cluster-template.yaml
            _dist/cluster-template-topology.yaml
            _dist/clusterclass-quickstart.yaml
            _dist/cluster-template-docker.yaml
            _dist/cluster-template-topology-docker.yaml
            _dist/clusterclass-quickstart-docker.yaml
            _dist/infrastructure-components.yaml
            _dist/metadata.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
