name: golangci-lint

on:
  pull_request:
    branches: [ main ]

jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v2
      with:
        version: v1.42.0
