name: golangci-lint

on:
  pull_request:
    branches: [ main ]

jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go 1.17
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Checkout code
      uses: actions/checkout@v2

#    - name: golangci-lint
#      uses: golangci/golangci-lint-action@v2
#      with:
#        version: v1.42.0
#        skip-go-installation: true
