name: Host Agent tests

on:
  pull_request:
    branches: [ main ]

jobs:

  build-agent:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: build agent
        run: make host-agent-binaries

  test-agent:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Install ginkgo
        run: sudo apt-get install golang-ginkgo-dev

      - name: clean up directory
        run: sudo chmod -R 777 /etc

      - name: test agent
        run: make agent-test
